---
const {
  href = 'https://github.com/galax-io',
  label = 'Browse on GitHub',
  compact = false,
} = Astro.props;
---

<a class={`github-button ${compact ? 'compact' : ''}`} href={href} target="_blank" rel="noreferrer">
  <svg aria-hidden="true" viewBox="0 0 24 24" width="22" height="22" fill="currentColor">
    <path d="M12 2C6.48 2 2 6.58 2 12.25c0 4.54 2.87 8.39 6.84 9.75.5.09.68-.22.68-.49v-1.7c-2.78.62-3.36-1.37-3.36-1.37-.45-1.17-1.11-1.48-1.11-1.48-.91-.64.07-.62.07-.62 1.01.07 1.54 1.06 1.54 1.06.9 1.57 2.36 1.12 2.93.86.09-.67.35-1.12.64-1.38-2.22-.26-4.56-1.14-4.56-5.06 0-1.12.38-2.03 1.01-2.75-.1-.26-.44-1.31.1-2.73 0 0 .84-.27 2.75 1.05a9.18 9.18 0 0 1 5 0c1.9-1.32 2.74-1.05 2.74-1.05.55 1.42.2 2.47.1 2.73.63.72 1 1.63 1 2.75 0 3.93-2.34 4.8-4.57 5.05.36.32.68.96.68 1.93v2.86c0 .27.18.59.69.49A10.27 10.27 0 0 0 22 12.25C22 6.58 17.52 2 12 2Z" />
  </svg>
  <span>{label}</span>
</a>
